.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
  font-size: 22px;
  font-weight: 600;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar img {
  width: 150px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding-bottom: 20px;
}
.btn-updateprofile
{
  margin-top: 20px;
}
.user-role
{
  padding-top: 10px;
}