<div class="navbar navbar-expand-lg bg-light navbar-light">
  <!-- Container wrapper -->
  <div class="container-fluid navi">
    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="home" ><i class="fas fa-home"></i> Home</a>
    <a class="navbar-brand" routerLink="1dcut"><i class="fas fa-th-list"></i> 1D Cut Optimizer</a>
    <a class="navbar-brand" routerLink="dupa"><i class="fas fa-briefcase"></i> 2D Cut Optimizer</a>
    <a class="navbar-brand" routerLink="test"><i class="fas fa-briefcase"></i> Test</a>
    <button class="btn btn-info btn-xm" (click)="clearLS()" >ClearLS</button>

    <div class="userDropMenu">
      <div class="dropdown" [hidden]="!zalogowany()">
        <a href="#" class="dropdown-toggle " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="userDropMenuImg" src="/assets/img/avatar_seagull.png">
          <span> Witaj, {{username}}! </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li> <a class="dropdown-item" [routerLink]="['/profile']"><i class="fas fa-user"></i> Majne profajl</a></li>
          <li> <a class="dropdown-item" href="#"><i class="fas fa-smoking"></i> Szmeterling</a></li>
          <li> <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Krankenwagen</a></li>
          <li> <hr class="dropdown-divider"></li>
          <li> <a class="dropdown-item" [routerLink]="['/login']" ><i class="fas fa-sign-out-alt"></i>Wychodzę, bo nie zniesę</a></li>
        </ul>
      </div>
    </div>

    <div [hidden]="zalogowany()">
      <a class="loginbtn btn btn-primary btn-sm" routerLink="register" ><i class="fas fa-user-plus"></i> Rejestruj
        waść</a>
      <a class="loginbtn btn btn-success btn-sm" routerLink="login" ><i class="fas fa-sign-in-alt"></i> Loguj waść</a>
    </div>
  </div>
</div>