.navbar
{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

/* USER DROPDOWN MENUUUUU */
.userDropMenu{
  float: right;
  min-width: 150px;
  text-align: center;
	text-decoration: none;
}

.userDropMenu li{
  list-style: none;
}
.userDropMenu a{
  text-decoration: none;
  color: #525252;
}
.userDropMenuImg{
  width: 40px;

}
.navbar-light .navbar-brand {
  color: #636363;
}
.navbar-brand{
  font-size: 1rem;
  color: dimgray;
}
.navbar-brand:hover{
	color:lightslategray;
}
.navi{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
	min-height: 40px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.loginbtn
{
  margin-left: 5px;
  margin-right: 5px;
}
.menu-profile{
  cursor: pointer;
}