<div style="min-width: 25%;">
  <div class="row">
    <div class="project-name" *ngIf="this.userService.userDataLoaded" >
      <div class="col-6"> Project:  <b><button class="btn btn-sm btn-outline-secondary btn-block" (click)="loadDialog()" disabled >{{ this.userService.loggedUser.activeProjectModel!.projectName}} </button></b> </div>
      <div class="col-3">
        <button *ngIf="!this.userService.isLogged()" class="btn btn-sm btn-outline-secondary btn-block" (click)="loadDialog()" disabled
        ngbPopover="Zaloguj się aby edytowac projekty" [openDelay]="400" [closeDelay]="400" triggers="mouseenter:mouseleave"> Wczytaj / zapisz projekt <i class="fas fa-chevron-right"></i> 
        </button>
        <button *ngIf="this.userService.isLogged()" class="btn btn-sm btn-outline-secondary btn-block" (click)="loadDialog()" >Wczytaj / zapisz projekt <i class="fas fa-chevron-right"></i> 
        </button>
      </div>
    </div>
  </div>
</div>