
/*** 1D Stock Cut style ***/
#add-btn
{
	float:right;
}
#add-stock-btn
{
	float:right;
	margin-bottom: 5px;
}
.table form input
{
	width: 200px;
}
.cutbar{
	border: 0px;
	border-left: 1px;
	border-right: 1px;
	border-color: #4a4a4aba;
	border-style: solid;
}

form#stockform input {
	width: 95%;
	height: 24px;
    font-size: 12px;
}
form#stockform td{
	vertical-align: middle;
}
form#cutform input {
	width: 95%;
	height: 24px;
    font-size: 12px;
}
form#cutform td{
	vertical-align: middle;
}
#addRowsHere{
	margin-bottom: 50px;
}
#addRowsHere .btn-sm{
	font-size: 10px;
}
form#secform input {
	width: 95%;
}
form#secform td{
	vertical-align: middle;
}

.table{
	font-size: 10px;
}
.table td{
	padding: 1px!important;
}
#addRowsHere .btn-sm{
	font-size: 9px;
}

.progress {
	font-size: .65rem!important;
	background-color: #a9a9a9!important;
	border-radius: .35rem!important;
}
.probar{
	margin-top: 5px;
	margin-bottom: 5px;
}
.wynikicol{
	font-size: 13px;
}
.wynikicol label{
	font-size: 13px;
	font-weight: 600;
}
.remove-btn{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #dc3545;
	font-size: 9px;
	width: max-content;
}
.add-btn{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 9px
}
.table>:not(:last-child)>:last-child>* {
	border-bottom-color: #dc3545; 
}
.btn-calc
{
	text-align: center;
}
.accordion-button{
	padding-top: 8px;
	padding-bottom: 8px;
}
#cutlista .accordion-body {
	padding: 0.5rem 0.75rem;
}
::ng-deep .mat-typography h2 {
    margin: 0!important;
}

::ng-deep .mat-form-field-infix
{
		width: auto!important;
}
::ng-deep .mat-form-field-suffix {
	top: -4px!important;
}
::ng-deep .mat-form-field-prefix {
	top: -4px!important;
}

.project-name{
	font-size: 11px;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 8px;
}
.project-name b{
	font-size: 12px;
	padding-left: 4px;
    color: slateblue;
}

.project-name .btn{
	font-size: 9px;
}
.spinner-loading{
	margin-right: 10px;
	vertical-align: middle;
}