<h2 mat-dialog-title>Wczytaj projekt cięcia</h2>
<mat-dialog-content class="mat-typography">
  <p>Active order ID: {{userTmp.activeOrderId}}</p>
  <p>Active order model: {{userTmp.numberOfSavedItems}}</p>

  <table class="saveloadproject">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Created</th>
        <th>Modified</th>
        <th>...</th>
      </thead>
      <tbody>
          <tr *ngFor="let ordr of userTmp.savedOrderModels; let index = index">
              <td>{{ordr.id}}</td>
              <td>{{ordr.projectName}}</td>
              <td>{{ordr.projectCreated | date:'dd.MM.YYYY HH:mm:ss'}}</td>
              <td>{{ordr.projectModified | date:'dd.MM.YYYY HH:mm:ss'}}</td>
              <td><button class="btn btn-secondary btn-sm" (click)="loadUserOrder(ordr.id)" >Wczytaj</button></td>
          </tr>
      </tbody>
  </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Wczytaj</button>
</mat-dialog-actions>
