.saveloadproject {
	width: 100%;
	height: 24px;
    font-size: 12px;
}
.saveloadproject td{
	vertical-align: middle;
}
.saveloadproject input {
	width: 95%;
	height: 24px;
    font-size: 12px;
}
.button-load{
    font-size: 11px;
    line-height: 2;
    padding: 2px;
}
.active-td{
	font-weight: 600;
	background-color: gainsboro;
}