<div class="container-fluid">
  <div class="row">

    <div class=col-sm-3>
      <app-cut-form></app-cut-form>
    </div>

    <!-- PRAWAAAA -->
    <div class="col-sm-9">
      <div class="wynikicol" *ngIf="(results$ | async) as asyncResult">
        <div class="col-sm">
          <label> Dostepna dlugosc pretow: </label><span></span>
        </div>
        <div class="col-sm">
          <label> Dostepna ilosc pretow: </label><span></span>
        </div>
        <div class="col-sm">
          <label> Ilosc potrzebnego materialu: </label><span> {{asyncResult.resultUsed | number }}</span>
        </div>
        <div class="col-sm">
          <label> Procent odpadu: </label><span> {{asyncResult.resultWasteProcent | number: '1.2-2' }} %</span>
        </div>
        <div class="progress probar">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [ngStyle]="{'width': asyncResult.resultUsedProcent +'%'}"> 
            {{asyncResult.resultUsedProcent | number: '1.2-2' }} %
          </div>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning cutbar" role="progressbar" [ngStyle]="{'width': asyncResult.resultWasteProcent +'%'}"> 
            {{asyncResult.resultWasteProcent | number: '1.2-2' }} %
          </div>
        </div>
        <div class="col-sm">
          <label> Wymagane odcinki: </label><span> {{asyncResult.resultNeededStock }} </span>
        </div>
        <div class="col-sm">
          <label> Pozostale odcinki: </label>
            <span *ngFor="let odcinki of asyncResult.resultRemainingPieces"> 
              <span *ngFor="let odcinek of odcinki.resultBarPieces">
                {{ odcinek.barText }}, 
              </span>
            </span>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <label> ------------------------------------------------------- </label>
        </div>
        <div class="col-sm">
          <label> Wyniki: </label>
        </div>


        <div class="progress probar" *ngFor="let bar of (asyncResult.resultBars)">
          <div *ngFor="let barpcs of bar.resultBarPieces" class="cutbar progress-bar bg-success"
            [ngStyle]="{'width': barpcs.barWidthProc +'%'}" role="progressbar">
            {{barpcs.barText}}
          </div>
        </div>

        Pozostałe:
        <div class="probar" *ngFor="let rem of (asyncResult.resultRemainingPieces)">
          <div class="progress probar" *ngFor="let re of rem.resultBarPieces" class="cutbar progress-bar bg-danger"
          [ngStyle]="{'width': re.barWidthProc +'%'}" role="progressbar" >
            <div >
              {{re.barText}}
            </div>
          </div>
        </div>

        <p>STACK:</p>
        <!-- <div class="progress probar" *ngFor="let bar of (filtered.resultBars)">
          Count: {{bar.stackCount}}
          <div *ngFor="let barpcs of bar.resultBarPieces" class="cutbar progress-bar bg-success"
            [ngStyle]="{'width': barpcs.barWidthProc +'%'}" role="progressbar">
            {{barpcs.barText}}
          </div>
        </div> -->

        <div class="row" *ngFor="let bar of (asyncResult.resultBars)">
          <div class="col-sm-1"> Count: {{bar.stackCount}} : </div>
          <div class="col-sm-10 progress probar">
            <div *ngFor="let barpcs of bar.resultBarPieces" class="cutbar progress-bar bg-success"
              [ngStyle]="{'width': barpcs.barWidthProc +'%'}" role="progressbar">
              {{barpcs.barText}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>