<form id="optionsForm" control="" class="form-group"  ngDefaultControl (ngModelChange)="onSubmitOptions()">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">Szerkość piły / rzaz:</span>
    <input type="number" class="form-control" id="option-szrank" aria-describedby="basic-addon3" name="optionSzrank"  min="0" (blur)="setZeroOnErease()"
            [(ngModel)]="cutopt.optionSzrank" (ngModelChange)="onSubmitOptions()">
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="optionStack" 
            [(ngModel)]="cutopt.optionStackResult" (ngModelChange)="onSubmitOptions()">
    <label class="form-check-label" for="flexSwitchCheckDefault">Grupuj identyczne wyniki</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="optionPrice" checked 
            [(ngModel)]="cutopt.optionPrice" (ngModelChange)="onSubmitOptions()">
    <label class="form-check-label" for="flexSwitchCheckChecked">Obliczaj koszty</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="option2" disabled >
    <label class="form-check-label" for="flexSwitchCheckDisabled">Zjedz ciastko</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="option3" checked disabled >
    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Maść na ból dupy</label>
  </div>
</form>
