<mat-dialog-content>
  <div class="row gutters">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img src="/assets/img/avatar_seagull.png" alt="User Avatar">
              </div>
              <h5 class="user-name"> {{currentUser.username}} </h5>
              <h6 class="user-email"> {{currentUser.email}} </h6>
              <h6 class="user-role"> {{currentUser.role}} </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Twoje dane</h6>
            </div>
            <form class="profileupdate" (ngSubmit)="updateProfile()">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="username">Nazwa użytkownika</label>
                  <input type="text" class="form-control" id="username" placeholder="{{currentUser.username}}" disabled>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="eMail">Email</label>
                  <input type="email" class="form-control" id="eMail" placeholder="{{currentUser.email}}" disabled>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="phone">Telefon</label>
                  <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="currentUser.phone">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="website">Website URL</label>
                  <input type="url" class="form-control" id="website" name="website" [(ngModel)]="currentUser.website">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="saveditems">Saved Projects</label>
                  <input type="url" class="form-control" id="saveditems" name="saveditems" [(ngModel)]="currentUser.numberOfSavedItems">
                </div>
              </div>
              <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="text-right">
                    <button mat-raised-button color="primary" mat-dialog-close type="submit" >Aktualizuj</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
